<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <% if (htmlWebpackPlugin.options.mobile) { %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% } %>
    <title><%= htmlWebpackPlugin.options.title || 'App'%></title>
  </head>
  <body>
  <div id="<%= htmlWebpackPlugin.options.appMountId%>"></div>
</html>
